<%= form_with model: @component do |form| %>
  <div>
    <%= form.label :name, 'Title' %>
    <%= form.text_field :name %>
  </div>

  <div>
    Tags?
    <div>
      <%= form.label :tags, 'Tags' %>
      <%= form.text_field :tags, value: '' %>
    </div>
  </div>

  <div>
    <%= form.submit 'Create' %>
  </div>
<% end %>